{% extends 'base.html' %}
{% load urlencode %}
{% block title %}BlueBlog | Home{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% block header %}
    <div class="hero-wrap js-fullheight" style="background-image: url('/static/img/nature.jpg');"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
             data-scrollax-parent="true">
            <div class="col-md-12 ftco-animate">
                <h2 class="subheading">Hello! Welcome to</h2>
                <h1 class="mb-4 mb-md-0">BlueBlog</h1>
                <div class="row">
                    <div class="col-md-7">
                        <div class="text">
                            <p class="mt-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
                                the Semantics, a large language ocean.</p>
                            <div class="mouse">
                                <a href="#" class="mouse-icon">
                                    <div class="mouse-wheel"><span><i class="fa fa-angle-down" aria-hidden="true"></i></span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock header %}
{% block body %}
    {% for Big in index %}
        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="case">
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-xl-8 d-flex">
                                    <a href="/posts/{{ Big.slug }}" class="img w-100 mb-3 mb-md-0"
                                       style="background-image: url('{{ Big.image_url }}');"></a>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-4 d-flex">
                                    <div class="text w-100 pl-md-3" style="size: auto!important;">
                                        <span class="subheading"><i class="fas fa-{{ Big.excerpt_type.excerpt }}" aria-hidden="true"></i> {{ Big.context | capfirst }}</span>
                                        <h2><a href="/posts/{{ Big.slug }}">{{ Big.title }}</a>
                                        </h2>
                                        <ul class="media-social list-unstyled">
                                            <li class="ftco-animate"><a href="http://twitter.com/share?text={{ Big.title}}&url={{ request.build_absolute_uri}}&hashtags={% for tag in Big.tags.all %}{{ tag }},{% endfor %}"><span><i class="fa fa-twitter" aria-hidden="true"></i></span></a>
                                            </li>
                                            <li class="ftco-animate"><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri}}"><span><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                            </li>
                                            <li class="ftco-animate"><a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri}}&title={{ Big.title | encode }}"><span><i class="fa fa-reddit-alien" aria-hidden="true"></i></span></a>
                                            </li>
                                        </ul>
                                        {{ share }}
                                        <div class="meta">
                                            {#                                        <p class="font-weight-normal">{{ Big.content | slice:250 | safe}}...</p>#}
                                            <p class="mb-0"><a href="#">by<strong> {{ Big.user.username }}</strong></a> | <a
                                                    href="#">{{ Big.time_to_read }} min read</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#Pagination#}
{#                        <div class="row mt-5">#}
{#                            <div class="col text-center">#}
{#                                <div class="block-27">#}
{#                                    <ul>#}
{#                                        <li><a href="#">&lt;</a></li>#}
{#                                        <li class="active"><span>1</span></li>#}
{#                                        <li><a href="#">2</a></li>#}
{#                                        <li><a href="#">3</a></li>#}
{#                                        <li><a href="#">4</a></li>#}
{#                                        <li><a href="#">5</a></li>#}
{#                                        <li><a href="#">&gt;</a></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </section>
        </div>
    {% endfor %}
{% endblock body %}